root = true

<!-- hygiene profile:begin -->
[*.cs]
csharp_prefer_braces = true
dotnet_diagnostic.IDE0011.severity = error
dotnet_style_require_accessibility_modifiers = always
dotnet_diagnostic.IDE0040.severity = error
<!-- hygiene profile:end -->
